<li class="flex h-14 items-center hover:bg-gray-100">
  <%= link_to list, class: "flex-none grow" do %>
    <%= list.name %> 
  <% end %>
  <div class="flex justify-between items-center space-x-1">
    <%= render "menu", list: list %>
  </div>
</li>
