<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Lists" %>

  <div class="flex justify-between items-center mb-4">
    <% unless turbo_native_app? %>
      <h1 class="font-bold text-4xl">Lists</h1>
    <% end %>
    <%= link_to "New list", new_list_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <ul class="w-full divide-y divide-gray-200">
    <% @lists.each do |list| %>
      <li class="flex h-14 items-center">
        <div class="flex-none">
          <%= list.name %> 
        </div>
        <div class="grow">
        </div>
        <div class="flex-none">
          <%= link_to "Show", list, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
