<% content_for :title, "Lists" %>

<ul class="w-full divide-y divide-gray-200">
  <% @lists.each do |list| %>
    <%= render "list", list: list %>
  <% end %>
</ul>
<div class="h-14"></div>

<%= new_button new_list_path %>
