<% content_for :title, @list.name %>

<ul class="items w-full divide-y divide-gray-200">
  <% @list.items.order(created_at: :desc).each do |item| %>
    <%= render item %>
  <% end %>
</ul>
<div class="h-14"></div>

<%= new_button new_list_item_path(@list) %>
