<h1 class="font-bold text-4xl text-blue-500">Impresum</h1>

<br>
<p>
  <span class="font-bold">Aron Wolf</span>
  <br>Prinzstraße 18
  <br>86153, Augsburg
  <br>Germany
  <br><a href="mailto:aronwolf90@gmail.com" class="text-blue-700">aronwolf90@gmail.com</a>
</p>

<br>
<p><span class="font-bold">NOTE:</span> this is a free and open source project
  that everyone can just use without any fees. I make no money in any way with it.
  My motivation behind it is to improve my skills as a software developer.
</p>
