<div class="flex flex-col bg-cyan-50 h-full grow">
  <div class="h-full w-full pt-5 grow px-2 grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="flex flex-col items-center md:items-start text-center md:text-start grow md:pt-32 md:pl-12">
      <h1 class="font-bold text-5xl mb-4 text-blue-500">A simple todos app.</h1>
      <p class="text-lg">With it you can manage you shoping lists and todos across all your devices.</p>
    </div>
    <div class="flex flex-col items-center"> 
      <%= image_tag "phone.png", class: "h-[42rem]", alt: "Mobile phone image of the app." %>
    </div>
  <div>
</div>
