<div class="mx-auto md:w-2/3 w-full">
  <% content_for :title, "Editing item" %>

  <% unless turbo_native_app? %>
    <h1 class="font-bold text-4xl">Editing item</h1>
  <% end %>

  <%= render "form", item: @item %>

  <%= link_to "Back to list", list_path(@item.list), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
