<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/headers" %>
  </head>

  <body>
    <div class="min-h-screen flex flex-col">
      <% if !turbo_native_app? %>
        <%= render "layouts/homepage_navbar" %>
      <% end %>
      <main class="grow flex flex-col">
        <%= yield %>
      </main>
    </div>
    <footer class="w-full p-5 bg-black text-white space-x-4">
      aronwolf90@gmail.com
    </footer>
  </body>
</html>
